*{
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    background-color: hsl(0, 0%, 8%);
}

.proContain{
    height: 40rem;
    width: 25rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
}

.jesRan {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 1rem;
    padding: 1.5rem 0;
}

.jesRan > img{
    border-radius: 50%;
    height: 5rem;
}

.centralize{
    display: flex;
    justify-content: center; 
}

 .name >h1{
    color: hsl(0, 0%, 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.location >h2{
    color: hsl(75, 94%, 57%);
    font-size: medium;
    padding: 0.7rem;
}

.jesInfo >h3{
    padding: 0.7rem;
    color: hsl(0, 0%, 100%);
    font-size: small;
}

.social{
    cursor: pointer;
    padding: 0.5rem;
}

.social >button{
   font-size: large;
   width: 70%;
   border-radius: 0.5rem;
   height: 2.8rem;
   background-color: hsl(0, 0%, 20%);
   cursor: pointer;
   color: hsl(0, 0%, 100%);
}

.social :hover{
    color:  black;
    border: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
}